<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectQnaList">
SELECT
	   QNA_NO
	 , USER_ID
	 , QNA_TITLE
	 , QNA_CONTENT
	 , QNA_REPLY
	 , TO_CHAR(QNA_DATE, 'YYYY/MM/DD') "QNA_DATE"
  FROM QNA Q
  JOIN USER_INFO USING(USER_NO)
WHERE Q.STATUS= 'Y'
ORDER
   BY QNA_NO DESC
</entry>
<entry key="insertQna">
	INSERT
		INTO QNA
		(
			QNA_NO
		,	QNA_TITLE
		,	QNA_CONTENT
		,	USER_NO
		)
		VALUES
		(
			SEQ_QNO.NEXTVAL
		,	?
		,	?
		,	?
		)
</entry>
<entry key="selectQna">
SELECT
		 QNA_NO
	   , QNA_TITLE
	   , QNA_CONTENT
	   , USER_ID
	   , QNA_DATE
	   
  FROM QNA
  JOIN USER_INFO USING(USER_NO)
  WHERE QNA_NO = ?
</entry>

<entry key="deleteQna">
	UPDATE QNA
	   SET STATUS = 'N'
	WHERE QNA_NO = ?
</entry>
<entry key="insertAnswer">
	UPDATE QNA
   SET QNA_REPLY = ?
WHERE QNA_NO = ?
</entry>
</properties>